<% provide(:title, "About") %>
<h1>About</h1>
<p>
  This is a platform that aggregates all activities and recreation in a city
  and help people discover what's availabe out there.
  </br>
  This is a sample application for the platform.
</p>
