<footer class="footer">
  <small>
    Explore activities!
  </small>
  <nav>
    <ul class="nav nav-pills">
      <li><%= link_to "About",    about_path %></li>
      <li><%= link_to "Contact",  contact_path %></li>
      <li><%= link_to "Help",     help_path %></li>
    </ul>
  </nav>
</footer>
