<header class="navbar navbar-fixed-top navbar">
    <div class="container">
      <%= link_to "Acxplore", root_path, id: "logo", :style =>'color:#555555;' %>
      <nav>
        <ul class="nav nav-pills navbar-right">
          <li><%= link_to "Home",       root_path %></li>
          <li><%= link_to "Sign Up",    signup_path %></li>
          <li><%= link_to "Log in",     '#' %></li>
        </ul>
      </nav>
    </div>
  </header>
